     hr {
     border: none; /* Убираем границу для браузера Firefox */
     color: greenyellow; /* Цвет линии для остальных браузеров */
     background-color: #FF1862; /* Цвет линии для браузера Firefox и Opera */
     height: 3px; /* Толщина линии */
    }
      #scroll-bottom {
        position: absolute;
        height: 100px;
      }
      
      #back-top{  
        position:fixed;
        bottom: 20px;
        right: 20px;
        padding: 0;
        margin: 0;  
      }
      
      #back-top a{
        width:48px;
        display:block;
        text-align:center;
        background-color: transparent;
        -webkit-transition:1s;
        -moz-transition:1s;
        transition:1s;
      }
      
      #back-top span{
        width:48px;
        height: 48px;
        display:block;
        margin: 0;
        padding: 0;
        background: url("../img/arrow1.png") no-repeat center center;
        -webkit-transition:1s;
        -moz-transition:1s;
        transition:1s;
      }
      
