#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9,#box10,#box11,#box12 {
    width:300px;
    height:300px;
    background-color:#6B86A6;
    z-index: 0;
    }
#box1,#box3,#box4,#box6,#box7,#box9,#box10,#box12 {  
    position: absolute;
}
#box2,#box5,#box8,#box11{
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}
#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9,#box10,#box11,#box12 {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;}
#box1 {
    margin-left: 20%;
    margin-top: 0%;
}
#box3{
    margin-left: 62%;
    margin-top: -17%;
}
#box4{
    margin-left: 20%;
    margin-top: 6%;
}
#box6{
    margin-left: 62%;
    margin-top: -17%;
}
#box7{
    margin-left: 20%;
    margin-top: 6%;
}
#box9{
    margin-left: 62%;
    margin-top: -17%;
}
#box10{
    margin-left: 20%;
    margin-top: 6%;
}
#box12{
    margin-left: 62%;
    margin-top: -17%;
}

