body{
  background-color: linear-gradient(30deg, rgba(160,245,255,1) 0%, rgba(240,237,255,1) 38%, rgba(255,217,237,1) 67%, rgba(231,254,255,1) 100%);
}
canvas {
  display: block;
  position: fixed;
  z-index: -3;
  top: 0px;
  margin: 0;
}
  #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
